.jumbotron-p {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: 	black;
    border-radius: 0.3rem;
  }
  
  @media (min-width: 576px) {
    .jumbotron-p {
      padding: 4rem 2rem;
    }
  }
  
  .jumbotron-fluid-p {
    padding-right: 0;
    padding-left: 0;
    border-radius: 0;
  }

  .jumbotron-p.page-header {
    background: linear-gradient(rgba(255, 236, 210,0.8),rgba(252, 182, 159,0.9)), url(../img/Edu_OB.png), no-repeat center center;
    background-size: cover;
  }
  .mytext
  {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
  }
  .display-p1 {
    font-size: 4rem;
    font-weight: 200;
    line-height: 1.6;
    font-family: 'Times New Roman', Times, serif;
  }
  