.jumbotron-a {
    padding: 0;
    margin-bottom: 0;
    background-color: 	black;
    border-radius: 0.3rem;
  }
  
  @media (min-width: 576px) {
    .jumbotron-a {
      padding: 4rem 2rem;
    }
  }
  
  .jumbotron-fluid-a {
    padding-right: 0;
    padding-left: 0;
    border-radius: 0;
    padding-bottom: 0;
  }

  .jumbotron-a.page-header {
    background: linear-gradient(rgba(255, 236, 210,0.8),rgba(252, 182, 159,0.9)), url(../../img/AIML-Final.jpg), no-repeat center center;
    background-size: cover;
  }
  .mytext
  {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
  }
  .service-item {
    background: rgb(252, 182, 159);
    transition: .5s;
}
.myimg
{
  width:400px;
  height:365px;
}
.service-item:hover {
    margin-top: -10px;
    background: black;
}

.service-item * {
    transition: .5s;
}

.service-item:hover * {
    color:   rgb(252, 182, 159)!important;
}
.css1
{
    background-color:rgb(252, 182, 159) ;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-style:inherit;
}
